.grid {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    background: #F3F5FC;
    width: auto;
    height: auto;
}

.logo {
    width: 120px;
    height: 48px;
    margin: 10px;
}

.text-box {
    margin-top: 25%;
    width: auto;
    height: max-content;
}

#textbox {
    width: 577px;
    height: 48px;
    background: none;
    border: none;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.warning-message {
    margin-top: 33%;
}

.material-icons {
    opacity: 65%;
    margin: 0%;
}

.warning-text {
    display: inline-block;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #495057;
}

.buttons {
    width: max-content;
    height: 67px;
    margin-top: 10px;
    margin-bottom: 2%;
}

.encrypt {
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: #D8DFE8;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.encrypt:hover {
    color: #0A3871;
    border: 1px solid #0A3871;
    background: #D8DFE8;
}

.decrypt {
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    text-align: center;
    color: #0A3871;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.decrypt:hover {
    color: #D8DFE8;
    border: 1px solid #FFFFFF;
    background: #0A3871;
}

.content {
    width: 90%;
    height: 90%;
    border-radius: 32px;
    background: #FFFFFF;
    align-self: center;
}

.content:hover {
    box-shadow: #343A40;
}

.not-found-img {
    width: auto;
    height: auto;
    margin-top: 30%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.img-new {
    width: 320px;
    height: 275px;
}

.not-found-message {
    font-size: auto;
    font-weight: bolder;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #343A40;
    word-break: initial;
    margin: 2px;
}

.no-message-alert {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #343A40;
    opacity: 60%;
}

.social-media {
    margin-bottom: 2%;
}

.social-media a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: #0A3871;
    font-style: normal;
}

@media screen and (max-width:680px) {
    .grid {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    * {
        width: 100%;
        height: 100%;
    }

    .logo {
        width: 10%;
        height: 4%;

    }
    
    #textbox {
        width: 90%;
        height: auto;
        font-size: small;
        margin-left: 5%;
    }

    .warning-text {
        font-size: 10px;
        text-align: center;
    }

    .material-icons {
        text-align: center;
    }
    
    .buttons {
        width: 80%;
        height: 20%;
        margin-left: 15%;
    }

    .encrypt {
        width: 40%;
        height: 50%;
        font-size: 15px;
    }

    .decrypt {
        width: 40%;
        height: 50%;
        font-size: 15px;
    }

    .social-media {
        margin-bottom: 0;
        text-align: center;
    }

    .content {
        display: flow;
        height: 50%;
        margin-top: 0;
        margin-left: 5%;
    }
    .not-found-img {
        margin-top: 5%;
    }
    .img-new {
        width: 50%;
        height: 40%;
        margin-left: 20%;
        margin-top: 10%;
    }

    .not-found-message {
        height: 5%;
        font-size: smaller;
    }

    .no-message-alert {
        font-size: x-small;
    }
}